@import "../../../global.scss";

#contact-search-container{
	width: 30% !important;
	min-width: 300px;
}

.form-container{
	color: #fff !important;
	// text-align: center;
}

	input:disabled{
		cursor: default;
		border:none;
		color:darkgrey !important;
	}
	
	.text-input{
		border-color: #fff;
		border-radius: 0px;
		background-color: transparent;
		color: orange !important;
	}


	#registration-form{
		width: 100% !important;
	}

		.form-group{
			width: 100% !important;
		}

			.form-group small{
				color:  #fff !important;
				text-align: right;
				font-style: italic;
			}

		#registration-form button[type="submit"]{

			display: block;
			margin: auto;

		}

		#newRandomProfile{
			display: block;
			margin: auto;
		}