<div class="container focused-container" id="contact-search-container">
	
	<div class="row title-container">
		<h1 class="col-10">Search for contacts</h1>
	</div>

	<!-- Search bar container -->
	<div class="row search-bar-container">
		
		<div class="col-12" style="padding: 0 !important;">
			
			
				<input #searchQuery
						type="text" name="contact_search_input"
						placeholder=" Search for a Pangolin" 
						(keydown)="getSearchProfiles(searchQuery.value)"
				/>
		</div>

	</div>


	<!-- Results list container -->
	<div class="row results-container">

		<div class="col-12 result-item" *ngFor="let profile of profiles">

			<div class="row">
				
				<div class="col-4" style="text-align-last: left;padding-left: 60px;">
					{{ profile.name }}
				</div>
				<div class="col-3"></div>
				<div class="col-4" style="text-align: right;">
					<button class="btn btn-sm btn-success add_contact_btn">
						<i class="fas fa-plus"> Add contact</i>
					</button>
					<button class="btn btn-sm btn-danger add_contact_btn hidden">
						<i class="fas fa-times">Remove contact</i>
					</button>
				</div>

			</div>
			
		</div>
		

	</div>

</div>