<div class="container focused-container" id="contact-search-container">
	
	<div class="row title-container">
		<h1 class="col-10">Search for contacts</h1>
	</div>

	<!-- Search bar container -->
	<div class="row search-bar-container">
		
		<div class="col-12">
			
			<form action="#" method="">
				<input 
						type="text" name="contact_search_input" onsubmit="submit()"
						placeholder=" Search for a Pangolin" />
			</form>

		</div>

	</div>


	<!-- Results list container -->
	<div class="row results-container">
		
		<div class="col-12 result-item">

			<div class="row">
				
				<div class="col-5">Pangol 1</div>
				<div class="col-5"></div>
				<div class="col-2">
					<button class="btn btn-success add_contact_btn">
						<i class="fas fa-plus"></i>
					</button>
					<button class="btn btn-danger add_contact_btn hidden">
						<i class="fas fa-times"></i>
					</button>
				</div>

			</div>

		</div>

		<div class="col-12 result-item">

			<div class="row">
				
				<div class="col-5">Just Pan</div>
				<div class="col-5"></div>
				<div class="col-2">
					<button class="btn btn-success add_contact_btn">
						<i class="fas fa-plus"></i>
					</button>
					<button class="btn btn-danger add_contact_btn hidden">
						<i class="fas fa-times"></i>
					</button>
				</div>

			</div>
			
		</div>

		<div class="col-12 result-item">

			<div class="row">
				
				<div class="col-5">Pangal</div>
				<div class="col-5"></div>
				<div class="col-2">
					<button class="btn btn-success add_contact_btn hidden">
						<i class="fas fa-plus"></i>
					</button>
					<button class="btn btn-danger add_contact_btn  ">
						<i class="fas fa-times"></i>
					</button>
				</div>

			</div>
			
		</div>

	</div>

</div>