@import "../../../global.scss";

.results-container{
	margin-bottom: 20px;

}

	.result-item{
		text-align: center;

		background-color: #fff;

		padding: 10px;
		border-radius: 3px;

		margin-bottom: 5px;
	}

		.add_contact_btn{}